doctype html
html
  head
    title= title

    script(type='text/javascript', src='/javascripts/jquery-2.1.0.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block headContent
  body
    block content